@model TeacherEvaluation.Application.Pages.TaughtSubjects.TaughtSubjectBaseModel

<div class="add-margin-bottom">

    @if (Model.TaughtSubjects.Any())
    {
        <table id="taught-subjects-index" class="table table-dark table-striped table-bordered set-max-width">
            <thead>
                <tr>
                    <th>
                        Subject Title
                    </th>
                    <th>
                        Number Of Credits
                    </th>
                    <th>
                        Teacher
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TaughtSubjects)
                {
                    var teacherName = item.Teacher.User.LastName + " " + item.Teacher.User.FathersInitial + " " + item.Teacher.User.FirstName;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.NumberOfCredits)
                    </td>
                    <td>@teacherName</td>
                    @if (Model.CurrentRole.IsTeacher)
                    {
                        <td>
                            <a asp-page="../Students/EnrolledStudents" asp-route-id="@item.Id">Students</a>
                        </td>
                    }
                    else if (Model.CurrentRole.IsAdmin)
                    {
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="align-text-center">No data is available</h5>
    }
    </div>