@page
@model TeacherEvaluation.Application.Pages.TaughtSubjects.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h4 class="row align-input-center add-top-margin">Taught Subject Details</h4>
    <hr />
    <div class="jumbotron taught-subject-jumbotron">
        <dl class="row align-input-center">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.TeacherName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TeacherName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.SubjectTitle)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.SubjectTitle)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Type)
            </dd>
        </dl>
    </div>
