@page
@model TeacherEvaluation.Application.Pages.Subjects.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}


<h4 class="row align-input-center add-top-margin">Subjects</h4>
<hr />
<div class="add-margin-bottom">
    <table id="subjects-index" class="table table-dark table-striped table-bordered set-max-width">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Credits
                </th>
                <th>
                    Study year
                </th>
                <th>
                    Study programme
                </th>
                <th>
                    Study domain
                </th>
                <th>
                    Specialization
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Subjects)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfCredits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialization.StudyDomain.StudyProgramme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialization.StudyDomain.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialization.Name)
                </td>
                <td>
                    <div class="row">
                        <a class="nav-link white-link" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a> 
                        <a class="nav-link white-link" asp-page="./Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="~/js/dataTable.js"></script>
}