@page
@model TeacherEvaluation.Application.Pages.Teachers.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TeacherId">Edit</a> 
</div>
