@page
@model TeacherEvaluation.Application.Pages.Teachers.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}


<h4 class="row align-input-center add-top-margin">Teachers</h4>
<hr />

<div class="add-margin-bottom">
    <table id="teachers-index" class="table table-dark table-striped table-bordered set-max-width">
        <thead>
            <tr>
                <th>
                    Teacher Name
                </th>
                <th>
                    Degree
                </th>
                <th>
                    Department
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Teachers)
            {
                var fullName = item.User.LastName + " " + item.User.FathersInitial + " " + item.User.FirstName;
                <tr>
                    <td>
                        @fullName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Degree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        <div class="row">
                            <a class="nav-link white-link" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a> 
                            <a class="nav-link white-link" asp-page="./Details" asp-route-id="@item.Id"><i class="fa fa-info-circle"></i></a> 
                            <a class="nav-link white-link" asp-page="./Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="~/js/dataTable.js"></script>
}