@page
@model TeacherEvaluation.Application.Pages.Teachers.ViewByDepartmentModel

@{
    ViewData["Title"] = "Teachers";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}


<h4 class="row align-input-center add-top-margin">View Teachers by Department</h4>
<hr />

<div class="jumbotron search-teachers-jumbotron">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row my-row">
            <div class="col-md-6">
                <label asp-for="Department"></label><br />
                <select asp-for="Department" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.Enums.Department>()"
                        class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Department" class="text-danger" />
            </div>
        </div>
        <br />
        <div class="row my-row">
            <div class="col-md-6">
                <input type="submit" value="Search" class="btn btn-dark form-control" />
            </div>
        </div>

    </form>
</div>

@if (Model.TableIsVisible)
{
    <div class="add-margin-bottom">
        <table id="teachers-index" class="table table-dark table-striped table-bordered set-max-width">
            <thead>
                <tr>
                    <th>
                        Teacher Name
                    </th>
                    <th>
                        Degree
                    </th>
                    <th>
                        Department
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Teachers)
                {
                    var fullName = item.User.LastName + " " + item.User.FathersInitial + " " + item.User.FirstName;
                    <tr>
                        <td>
                            @fullName
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Degree)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>
                        <td>
                            <div class="row">
                                <a class="nav-link white-link" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a> 
                                <a class="nav-link white-link" asp-page="./Details" asp-route-id="@item.Id"><i class="fa fa-info-circle"></i></a> 
                                <a class="nav-link white-link" asp-page="./Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <br />
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/dataTable.js"></script>
}
