@page
@model TeacherEvaluation.Application.Pages.EvaluationForms.IndexModel

@{
    ViewData["Title"] = "Forms";
    if (User.IsInRole("Dean"))
    {
        Layout = "~/Pages/Shared/_DeanLayout.cshtml";
    }
    else if (User.IsInRole("Teacher"))
    {
        Layout = "~/Pages/Shared/_TeacherLayout.cshtml";
    }
}

<h4 class="row align-input-center add-top-margin">Evaluation Forms</h4>
<hr />
<div class="add-margin-bottom">
    <table id="forms-index" class="table table-dark table-striped table-bordered set-max-width">
        <thead>
            <tr>
                <th>
                    Start date
                </th>
                <th>
                    End date
                </th>
                <th>
                    Number of attendances
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Forms)
            {
                <tr>
                    <td>
                        @item.StartDate
                    </td>
                    <td>
                        @item.EndDate
                    </td>
                    <td>
                        @item.MinNumberOfAttendances
                    </td>
                    <td>
                        @if (User.IsInRole("Dean"))
                        {
                            <a asp-page="../AllResponses/Responses/ViewAsDean" asp-route-formId="@item.Id">Responses</a><span>|</span>
                            <a asp-page="../AllResponses/Charts/ViewAsDean" asp-route-formId="@item.Id">Charts </a><span>|</span>
                            <a asp-page="../Ranking/View" asp-route-formId="@item.Id">Ranking </a>
                        }
                        else if (User.IsInRole("Teacher"))
                        {
                            <a asp-page="../AllResponses/Responses/ViewAsTeacher" asp-route-formId="@item.Id">Responses</a><span>|</span>
                            <a asp-page="../AllResponses/Charts/ViewAsTeacher" asp-route-formId="@item.Id">Charts </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#forms-index').DataTable({
                'columnDefs': [{ 'orderable': false, 'targets': 3 }]
            });
        });
    </script>
}