@page
@model TeacherEvaluation.Application.Pages.Enrollments.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="row align-input-center">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudyYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudyYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudyProgramme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudyProgramme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Section)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group)
        </dd>
    </dl>
</div>
