@page
@model TeacherEvaluation.Application.Pages.Enrollments.ViewByCriteriaModel
@{
    ViewData["Title"] = "Enrollments";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/dataTable.js"></script>
    <script src="~/js/registerOrEditStudent.js"></script>
}

<h4 class="row align-input-center add-top-margin">Enrollments</h4>

<div class="container add-margin-bottom">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row my-row">
            <div class="col-md-3">
                <label asp-for="StudyProgramme">Study programme</label><br />
                <select id="study-programme" asp-for="StudyProgramme" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.StudyProgramme>()"
                        class="set-width-dropdown" onclick="get_domains()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="StudyProgramme" class="text-danger" />
            </div>
            <div class="col-md-3">
                <label asp-for="StudyDomainId" class="control-label">Study domain</label><br />
                <select id="domain" asp-for="StudyDomainId" class="form-control set-width-dropdown" onclick="get_specializations()">
                    <option>Select study domain</option>
                </select>
                <span asp-validation-for="StudyDomainId" class="text-danger" />
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-3">
                <label asp-for="SpecializationId" class="control-label">Specialization</label><br />
                <select id="specialization" asp-for="SpecializationId" class="form-control set-width-dropdown">
                    <option>Select specialization</option>
                </select>
                <span asp-validation-for="SpecializationId" class="text-danger" />
            </div>
            <div class="col-md-3">
                <label asp-for="StudyYear" class="control-label">Study year</label>
                <input asp-for="StudyYear" class="form-control set-width-dropdown" onchange="get_students_by_specialization_and_study_year()" />
                <span asp-validation-for="StudyYear" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-3">
                <label asp-for="TaughtSubjectType">Taught subject type</label><br />
                <select id="type-id-field" asp-for="TaughtSubjectType" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.TaughtSubjectType>()"
                        class="form-control set-width-dropdown" onclick="update_data()">
                    <option selected disabled hidden>Please select</option>
                </select>
                <span asp-validation-for="TaughtSubjectType" class="text-danger" />
            </div>
            <div class="col-md-3">
                <label asp-for="EnrollmentState" class="control-label">Enrollment state</label><br />
                <select asp-for="EnrollmentState" asp-items="@Model.EnrollmentStates" class="form-control set-width-dropdown">
                </select>
                <span asp-validation-for="EnrollmentState" class="text-danger" />
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-3">
                <input type="submit" value="Search" class="btn btn-dark set-width-dropdown add-margin-top-35" />
            </div>
        </div>
    </form>
</div>


@if (Model.DisplayTable)
{
    <table id="enrollments-index" class="table table-striped table-bordered set-max-width">
        <thead>
            <tr>
                <th>
                    Teacher
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Type
                </th>
                <th>
                    Student
                </th>
                <th>
                    Study Year
                </th>
                <th>
                    Study Programme
                </th>
                <th>
                    Study Domain
                </th>
                <th>
                    Specialization
                </th>
                <th>
                    Group
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Enrollments)
            {
                var teacherLastName = item.TaughtSubject.Teacher.User.LastName;
                var teacherFathersInitial = item.TaughtSubject.Teacher.User.FathersInitial;
                var teacherFirstName = item.TaughtSubject.Teacher.User.FirstName;
                var teacherName = teacherLastName + " " + teacherFathersInitial + " " + teacherFirstName;

                var studentLastName = item.Student.User.LastName;
                var studentFathersInitial = item.Student.User.FathersInitial;
                var studentFirstName = item.Student.User.FirstName;
                var studentName = studentLastName + " " + studentFathersInitial + " " + studentFirstName;
                <tr>
                    <td>
                        @teacherName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaughtSubject.Subject.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaughtSubject.Type)
                    </td>
                    <td>
                        @studentName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.StudyYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Specialization.StudyDomain.StudyProgramme)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Specialization.StudyDomain.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Specialization.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Group)
                    </td>
                    <td>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
}
