@page
@model TeacherEvaluation.Application.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row align-input-center">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FathersInitial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FathersInitial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudyYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudyYear)
        </dd>
        <dt class="col-sm-2">
            Study programme
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialization.StudyDomain.StudyProgramme)
        </dd>
        <dt class="col-sm-2">
            Study domain
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialization.StudyDomain.Name)
        </dd>
        <dt class="col-sm-2">
            Specialization
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specialization.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group)
        </dd>
    </dl>
</div>

