@page
@model TeacherEvaluation.Application.Pages.Students.ViewByCriteriaModel
@{
    ViewData["Title"] = "Students";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/dataTable.js"></script>
    <script src="~/js/registerOrEditStudent.js"></script>
}

<h4 class="row align-input-center add-top-margin">Search Students by Criteria</h4>
<hr/>

<div class="jumbotron search-students-jumbotron">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row my-row">
            <div class="col-md-4">
                <label asp-for="StudyProgramme">Study programme</label><br />
                <select id="study-programme" asp-for="StudyProgramme" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.Enums.StudyProgramme>()"
                        class="form-control" onclick="get_domains()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="StudyProgramme" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="StudyDomainId" class="control-label">Study domain</label><br />
                <select id="domain" asp-for="StudyDomainId" class="form-control" onclick="get_specializations()">
                    <option>Select study domain</option>
                </select>
                <span asp-validation-for="StudyDomainId" class="text-danger" />
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-4">
                <label asp-for="SpecializationId" class="control-label">Specialization</label><br />
                <select id="specialization" asp-for="SpecializationId" class="form-control">
                    <option>Select specialization</option>
                </select>
                <span asp-validation-for="SpecializationId" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="StudyYear" class="control-label">Study year</label>
                <input asp-for="StudyYear" class="form-control" onchange="get_students_by_specialization_and_study_year()" />
                <span asp-validation-for="StudyYear" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-4">
                <input type="submit" value="Search" class="btn btn-dark form-control add-margin-bottom-40" />
            </div>
        </div>
    </form>
</div>

@if (Model.TableIsVisible)
{
    <table id="students-index" class="table table-dark table-striped table-bordered set-max-width">
        <thead>
            <tr>
                <th>
                    Student Name
                </th>
                <th>
                    Study Year
                </th>
                <th>
                    Study Programme
                </th>
                <th>
                    Study Domain
                </th>
                <th>
                    Specialization
                </th>
                <th>
                    Group
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Students)
            {
                var fullName = item.User.LastName + " " + item.User.FathersInitial + " " + item.User.FirstName;
                <tr>
                    <td>
                        @fullName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudyYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specialization.StudyDomain.StudyProgramme)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specialization.StudyDomain.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specialization.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br/> <br/>
}